/* CSS Reset - Helps normalize styles across browsers */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #eb5757;
  --secondary-color: #8c52ff;
  --background-color: #242424;
  --text-color: #ffffff;
  --mute-color: #808080;
  --button-corners: 0px;
}

body {
  background-color: var(--background-color); 
  color: var(--text-color);
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

html {
  scroll-behavior: smooth;
}

.headshot {
  border-radius: 150px;
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.heading {
  margin: 10px;
}

.description {
  margin: 10px;
}

.icons {
  margin: 10px;
}

h2 {
  font-weight: 300;
}

svg {
  margin-right: 5px;
  margin-top: 10px;
  width: 25px;
  height: 25px;
  color: #fff;
}

svg:hover {
  color: var(--primary-color);
  filter: drop-shadow(1px 1px 0px var(--secondary-color));
}

.section {
  display: flex;
  align-items: center;
  justify-content: center; /* Horizontal alignment */
  text-align: center;
  min-height: 100vh;
  padding-right: 20px;
  padding-left: 20px;
}

.footer {
  margin-top: 20px;
  font-weight: 100;
  color: var(--mute-color);
}

.subheading {
  font-weight: 100;
}

footer {
  padding-top: 40px;
  padding-left: 10px;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

p {
  padding-top: 5px;
}

.link {
  font-weight: bold;
}

p a:hover {
  color: var(--primary-color);
  text-shadow: 1px 1px 0px var(--secondary-color);
  text-decoration: none;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  padding-top: 10px;
}

.card {
  border: 1px solid #ccc;
  padding: 20px;
  text-align: left;
  border-radius: var(--button-corners);
  box-shadow: 3px 3px 0px var(--primary-color);
  width: 100%;
}

.card:hover {
  background-color: var(--primary-color);
  color: var(--text-color);
  box-shadow: 3px 3px 0px var(--secondary-color);
  border: 1px solid var(--background-color);
}